%btn {
    background-image: $gradient;
    border-radius: 10rem;
    border: none;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
        transform: scale(1.05);
    }

    &:focus {
        outline: none;
    }

    &>*:first-child {
        margin-right: 1rem;
    }
}

.btn {
    @extend %btn;

    padding: 1.5rem 4rem;
    font-size: 1.5rem;
    font-weight: 600;

    svg {
        height: 2.25rem;
        width: 2.25rem;
        fill: currentColor;
    }
}

.btn--small {

    &,
    &:link,
    &:visited {
        @extend %btn;

        font-size: 1.4rem;
        font-weight: 600;
        padding: 1.25rem 2.25rem;
        text-decoration: none;

        svg {
            height: 1.75rem;
            width: 1.75rem;
            fill: currentColor;
        }
    }
}

.btn--inline {
    color: $color-primary;
    font-size: 1.3rem;
    font-weight: 600;
    border: none;
    background-color: $color-grey-light-1;
    padding: 0.8rem 1.2rem;
    border-radius: 10rem;
    cursor: pointer;

    transition: all 0.2s;

    svg {
        height: 1.6rem;
        width: 1.6rem;
        fill: currentColor;
        margin: 0 0.2rem;
    }

    span {
        margin: 0 0.4rem;
    }

    &:hover {
        color: $color-grad-2;
        background-color: $color-grey-light-2;
    }

    &:focus {
        outline: none;
    }
}

.btn--round {
    background-image: $gradient;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    height: 4.5rem;
    width: 4.5rem;
    // margin-left: auto;
    transition: all 0.2s;

    &:hover {
        transform: scale(1.07);
    }

    &:focus {
        outline: none;
    }

    svg {
        height: 2.5rem;
        width: 2.5rem;
        fill: #fff;
    }
}

.btn--tiny {
    height: 2rem;
    width: 2rem;
    border: none;
    background: none;
    cursor: pointer;

    svg {
        height: 100%;
        width: 100%;
        fill: $color-primary;
        transition: all 0.3s;
    }

    &:focus {
        outline: none;
    }

    &:hover svg {
        fill: $color-grad-2;
        transform: translateY(-1px);
    }

    &:active svg {
        fill: $color-grad-2;
        transform: translateY(0);
    }

    &:not(:last-child) {
        margin-right: 0.3rem;
    }
}

.heading--2 {
    font-size: 2rem;
    font-weight: 700;
    color: $color-primary;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
    text-align: center;
    // transform: skewY(-3deg);
}

.link:link,
.link:visited {
    color: $color-grey-dark-2;
}

.spinner {
    margin: 5rem auto;
    text-align: center;

    svg {
        height: 6rem;
        width: 6rem;
        fill: $color-primary;
        animation: rotate 2s infinite linear;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.message,
.error {
    max-width: 40rem;
    margin: 0 auto;
    padding: 5rem 4rem;

    svg {
        height: 3rem;
        width: 3rem;
        fill: $color-primary;
        transform: translateY(-0.3rem);
    }

    p {
        margin-left: 1.5rem;
        font-size: 1.8rem;
        line-height: 1.5;
        font-weight: 600;
    }
}