.header {
  background-color: $color-grey-light-1;  
}

.search {
  background-color: #fff;
  border-radius: 10rem;
  padding-left: 3rem;
  transition: all 0.3s;

  &:focus-within {
    transform: translateY(-2px);
    box-shadow: 0 0.7rem 3rem rgba($color-grey-dark-1, 0.08);
  }

  &__field {
    border: none;
    background: none;
    font-family: inherit;
    color: inherit;
    font-size: 1.7rem;
    width: 30rem;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $color-grey-light-3;
    }

  }

  &__btn {
    font-weight: 600;
    font-family: inherit;
  }
}

