.preview {
  &__link {
    &:link,
    &:visited {
      padding: 1.5rem 3.25rem;
      text-decoration: none;
    }

    &--active {
      background-color: $color-grey-light-1;
    }
  }

  &__fig {
    border-radius: 50%;
    height: 5.8rem;
    margin-right: 2rem;
    position: relative;
    
    img {
      display: block;
      width: 5rem;
    }
  }

  &__title {
    font-size: 1.45rem;
    color: $color-primary;
    text-transform: uppercase;
    font-weight: 600;

    // This is how text is truncated!
    text-overflow: ellipsis;
    max-width: 25rem;
    overflow: hidden;
  }

  &__publisher {
    font-size: 1.15rem;
    color: $color-grey-dark-2;
    text-transform: uppercase;
    font-weight: 600;
  }

  &__user-generated {
    background-color: darken($color-grey-light-2, 2%);

    height: 2rem;
    width: 2rem;
    border-radius: 10rem;

    svg {
      height: 1.2rem;
      width: 1.2rem;
      fill: $color-primary;
    }
  }
}
